name: 'Deep Heating'
description: 'Cleverer climate control'
version: '0.1.3-beta.21'
slug: 'deep_heating'
image: 'ghcr.io/graemef/deep-heating'
arch:
  - amd64
  - aarch64
homeassistant_api: true
init: false
ingress: true
panel_icon: mdi:fire
ports:
  8099/tcp: 8099
webui: 'http://[HOST]:[PORT:8099]/'
map:
  - addon_config:rw
environment:
  DEBUG: deep-heating,app
  HOME_CONFIG_PATH: /config/home.json
  ROOM_ADJUSTMENTS_PATH: /config/room-adjustments.json
  SUPERVISOR_URL: http://supervisor/core
