# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  PRISMA_HIDE_UPDATE_MESSAGE: 'true'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout [main]
        if: github.event_name != 'pull_request'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Checkout [pr]
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0

      - name: Install tools
        uses: jdx/mise-action@v2

      - run: bun install --frozen-lockfile
      - run: bun run format:check
      - run: bun run build
      - run: bun run lint
      - run: bun run test

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Login to DockerHub
        uses: docker/login-action@v3
        if: ${{ github.actor != 'dependabot[bot]' }}
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata for deep-heating
        id: meta-deep-heating
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/deep-heating
            ${{ github.actor != 'dependabot[bot]' && format('{0}/deep-heating', secrets.DOCKERHUB_USERNAME) || '' }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha,prefix=pr-${{ github.event.pull_request.number }}-,enable=${{ github.event_name == 'pull_request' }}
            type=sha,enable=${{ github.ref == 'refs/heads/main' }}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push deep-heating
        uses: docker/build-push-action@v5
        with:
          context: .
          file: packages/deep-heating/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-deep-heating.outputs.tags }}
          labels: ${{ steps.meta-deep-heating.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Extract metadata for deep-heating-socketio
        id: meta-socketio
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/deep-heating-socketio
            ${{ github.actor != 'dependabot[bot]' && format('{0}/deep-heating-socketio', secrets.DOCKERHUB_USERNAME) || '' }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha,prefix=pr-${{ github.event.pull_request.number }}-,enable=${{ github.event_name == 'pull_request' }}
            type=sha,enable=${{ github.ref == 'refs/heads/main' }}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push deep-heating-socketio
        uses: docker/build-push-action@v5
        with:
          context: .
          file: packages/deep-heating-socketio/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-socketio.outputs.tags }}
          labels: ${{ steps.meta-socketio.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Extract metadata for deep-heating-web
        id: meta-web
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository_owner }}/deep-heating-web
            ${{ github.actor != 'dependabot[bot]' && format('{0}/deep-heating-web', secrets.DOCKERHUB_USERNAME) || '' }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=sha,prefix=pr-${{ github.event.pull_request.number }}-,enable=${{ github.event_name == 'pull_request' }}
            type=sha,enable=${{ github.ref == 'refs/heads/main' }}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Build and push deep-heating-web
        uses: docker/build-push-action@v5
        with:
          context: .
          file: packages/deep-heating-web/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta-web.outputs.tags }}
          labels: ${{ steps.meta-web.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
