name: CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: erlef/setup-beam@v1
        with:
          otp-version: "27"
          gleam-version: "1.6"
          rebar3-version: "3"

      - name: Build
        run: gleam build
        working-directory: packages/deep_heating

      - name: Test
        run: gleam test
        working-directory: packages/deep_heating

      - name: Format check
        run: gleam format --check src test
        working-directory: packages/deep_heating
