# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  PRISMA_HIDE_UPDATE_MESSAGE: 'true'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout [main]
        if: github.event_name != 'pull_request'
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Checkout [pr]
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.ref }}
          fetch-depth: 0

      - name: Install tools
        uses: jdx/mise-action@v2

      - run: bun install --frozen-lockfile
      - run: bun run format:check
      - run: bun run build
      - run: bun run lint
      - run: bun run test
